.breadcrumbs {
  margin-top: rem(43);
  &:not(:last-child) {
    margin-bottom: rem(23);
  }

  &__list {
    @extend %fl-r-ct;
    gap: rem(12);
    padding-bottom: rem(20);

    overflow-x: auto;

    //== 576px ==//
    @media (max-width: $mb-m) {
      gap: rem(6);
    }
  }

  &__item {
    @extend %fl-r-ct;
    gap: rem(12);

    &:not(:first-child)::before {
      content: "";
      flex: 0 0 rem(12);
      width: rem(12);
      height: rem(12);
      @extend %bg-con;
      background-image: url("@img/icons/breadcrumbs.svg");
    }

    span {
      cursor: default;
    }
    @media (any-hover: hover) {
      a:hover {
        color: var(--clr-black);
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      gap: rem(6);
    }
  }

  &__link {
    display: block;
    font-weight: 500;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.5);
    @include adaptiveValue("font-size", 18, 15);
    transition: color 0.32s ease-in-out;
  }
}
