// Блок со спойлерами
.spollers {
  display: grid;
  gap: rem(32);
}
.spollers__item {
  color: var(--clr-white);
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  text-align: left;
  padding-left: rem(24);
  position: relative;
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: rem(4);
      top: 50%;
      background-color: var(--clr-white);
      height: rem(2);
      width: rem(7);
      border-radius: rem(7);
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-60%, -45%) rotate(50deg);
    }
    &::after {
      transform: translate(0, -50%) rotate(-50deg);
    }
    &._spoller-active {
      &::before {
        transform: translateX(-60%) rotate(-50deg);
      }
      &::after {
        transform: rotate(40deg);
      }
    }
  }
}
// Контент спойлера
.spollers__body {
  padding-top: rem(20);
}
