.page {
  &__cases {
    &:not(:last-child) {
      margin-bottom: rem(150);
    }
  }
}
.cases {
  &__container {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__image {
    flex: 0 0 rem(450);
    width: rem(450);
    height: rem(450);
  }
}
