.complete {
  position: relative;
  padding-top: rem(127);
  padding-bottom: rem(148);

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
    height: 100%;
    @extend %bg-con;
    background-image: url("@img/complete/background.png");
  }

  &__container {
  }

  &__title {
    max-width: rem(630);
    &:not(:last-child) {
      margin-bottom: rem(36);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }
}
.form {
  &__button {
    margin-top: rem(5);
  }
}
