.advantages {
  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(15);
      }
    }
  }

  &__items {
    //== 992px ==//
    @media (max-width: $tb) {
      gap: rem(49);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      gap: rem(30);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex-direction: column;
      gap: rem(20);
    }
  }
}
