.inner {
  &__text-split {
    //== 768px ==//
    @media (max-width: $mb) {
      row-gap: rem(40);

      .grid-7 {
        grid-column: span 6;
      }
    }
  }
  &__text-split ul {
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 6;
      margin-right: 0;
      text-align: center;
    }
  }

  &_designers {
    //== 768px ==//
    @media (max-width: $mb) {
      position: relative;
      overflow: hidden;
      padding-bottom: rem(450);
    }
  }

  &__images {
    position: relative;

    //== 768px ==//
    @media (max-width: $mb) {
      position: absolute;
      width: rem(1200);
      height: rem(450);
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      .quote {
        bottom: 10%;
        max-width: 100vw;
      }
      &::before {
        background: linear-gradient(0deg, #ffffff 28.98%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }
  &__col {
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 2;
    }
    img {
      &:not(:last-child) {
        //== 992px ==//
        @media (max-width: $tb) {
          margin-bottom: rem(13);
        }
      }
      //== 1200px ==//
      @media (max-width: $note-m) {
        max-height: rem(300);
      }
      //== 768px ==//
      @media (max-width: $mb) {
        max-height: rem(220);
      }
    }
  }

  &__cards {
    //== 768px ==//
    @media (max-width: $mb) {
      margin-top: rem(40);
      &:not(:last-child) {
        margin-bottom: rem(55);
      }
      .grid-4 {
        grid-column: span 6;
        max-width: rem(580);
      }
    }
    h3 {
      &:not(:last-child) {
        //== 768px ==//
        @media (max-width: $mb) {
          margin-bottom: rem(6);
        }
      }
    }
  }

  &__title {
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: rem(13);
    }
  }
  &__container > p {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(14);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(6);
      }
    }
  }

  &__benefits {
    //== 992px ==//
    @media (max-width: $tb) {
      gap: rem(12);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      grid-auto-flow: dense;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: rem(25);
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__advantages {
    @media (max-width: em(1599.98)) {
      gap: rem(30);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      margin-top: rem(30);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__advantages-item {
    span:first-child {
      //== 1440px ==//
      @media (max-width: $note-xl) {
        font-size: rem(100);
      }
      //== 1200px ==//
      @media (max-width: $note-m) {
        font-size: rem(80);
      }
      @media (max-width: em(839.98)) {
        font-size: rem(60);
      }
      //== 768px ==//
      @media (max-width: $mb) {
        font-size: rem(50);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        font-size: rem(38);
      }
    }
    span:last-child {
      //== 768px ==//
      @media (max-width: $mb) {
        font-size: rem(14);
      }
    }
  }

  &__row-benefits {
    //== 768px ==//
    @media (max-width: $mb) {
      gap: rem(20);
      margin-top: rem(25);
    }
  }

  &__icon-benefits {
    //== 992px ==//
    @media (max-width: $tb) {
      margin-top: rem(40);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: rem(30);
      gap: rem(25);
    }
  }
}
.inner-benefit {
  //== 992px ==//
  @media (max-width: $tb) {
    padding: rem(90) rem(20) rem(24) rem(20);
  }
  //== 768px ==//
  @media (max-width: $mb) {
    min-height: 0;
    &.grid-4:nth-of-type(even) {
      grid-column: span 4;
    }
    &.grid-4:nth-of-type(odd) {
      grid-column: span 3;
    }
    &.grid-3 {
      grid-column: span 2;
    }
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    background-position: rem(20) rem(20);
    background-size: rem(24) rem(38);
    padding: rem(60) rem(20) rem(24) rem(20);
    &.grid-4:nth-of-type(even) {
      grid-column: span 3;
    }
    &.grid-4:nth-of-type(odd) {
      grid-column: span 3;
    }
    &.grid-3 {
      grid-column: span 3;
    }
  }
}
.icon-benefit {
  //== 576px ==//
  @media (max-width: $mb-m) {
    grid-column: span 6;
  }
  svg {
    &:not(:last-child) {
      @media (max-width: $mb) {
        margin-bottom: rem(6);
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      flex: 0 0 rem(36);
      width: rem(36);
      height: rem(36);
    }
  }
  &__description {
    //== 576px ==//
    @media (max-width: $mb-m) {
      max-width: rem(420);
    }
  }
}
