.berlin {
  &__container {
  }

  &__title {
    max-width: rem(605);
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(26);
      }
    }
  }

  &__cards {
    //== 768px ==//
    @media (max-width: $mb) {
      grid-template-columns: 1fr;
      gap: rem(35);
      .card {
        grid-column: 1;
      }
    }
  }
}
