.card-links {
  &__card {
    //== 576px ==//
    @media (max-width: $mb-m) {
      min-height: rem(200);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      min-height: rem(160);
      padding: rem(30) rem(25) rem(30);
    }
  }
}
