.navigation-card {
  //== 992px ==//
  @media (max-width: $tb) {
    padding-left: rem(27);
    padding-right: rem(27);
    padding-top: rem(29);
    padding-bottom: rem(35);
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    padding: rem(30) rem(25);
    min-height: rem(205);
    .navigation-card__title {
      max-width: rem(200);
    }
  }
}
