.cart-preview {
  &__block {
    //== 1200px ==//
    @media (max-width: $note-m) {
      padding-bottom: rem(30);
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__title {
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  &__items {
    //== 576px ==//
    @media (max-width: $mb-m) {
      gap: rem(25);
    }
  }

  &__item {
    grid-column: span 4;

    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 3;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-column: span 6;
    }
  }

  &__item-image {
    //== 1200px ==//
    @media (max-width: $note-m) {
      img {
        height: rem(220);
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
      img {
        height: rem(190);
      }
    }
  }

  &__item-remove {
    @media (max-width: $tb) {
      flex: 0 0 rem(28);
      svg {
        width: rem(28);
        height: rem(28);
      }
    }
  }
}
