.cases {
  &__image {
    //== 992px ==//
    @media (max-width: $tb) {
      flex: 0 0 rem(320);
      width: rem(320);
      height: rem(320);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex: 0 0 rem(240);
      width: rem(240);
      height: rem(240);
    }
  }
}
