.choice {
  //== 768px ==//
  @media (max-width: $mb) {
    padding-bottom: rem(450);
  }
  //== 440px ==//
  @media (max-width: $mb-s) {
    padding-bottom: rem(360);
  }

  &__title {
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(12);
      }
    }
  }

  &__container {
  }

  &__images {
    //== 768px ==//
    @media (max-width: $mb) {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      gap: rem(8);
      grid-template-columns: repeat(5, rem(160));
    }
  }

  &__button {
  }
}
