.clients {
  &__description {
    //== 992px ==//
    @media (max-width: $tb) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__row {
    //== 992px ==//
    @media (max-width: $tb) {
      margin-top: rem(30);
      display: grid;
      gap: rem(20);
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(rem(60), rem(120)));

      > * {
        max-width: 100%;
        width: 100%;
      }

      &:last-child {
        display: none;
      }
    }
  }
}
