.complete {
  &.complete_bg {
    //== 1440px ==//
    @media (max-width: $note-xl) {
      padding-top: rem(80);
      padding-bottom: rem(80);
    }
    //== 992px ==//
    @media (max-width: $tb) {
      padding-top: rem(60);
      padding-bottom: rem(60);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
  }

  //== 1440px ==//
  @media (max-width: $note-xl) {
    padding-top: rem(80);
    padding-bottom: rem(40);
  }
  //== 992px ==//
  @media (max-width: $tb) {
    padding-top: rem(40);
    padding-bottom: 0;
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    padding-top: 0;
  }

  &::before {
    //== 1360px ==//
    @media (max-width: $note-l) {
      right: -35%;
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      right: -45%;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      right: -35%;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      right: auto;
      left: 0;
      bottom: -25%;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      left: -10%;
      bottom: -28%;
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(16);
      }
    }
  }

  &__form {
    //== 768px ==//
    @media (max-width: $mb) {
      gap: rem(20);
    }
  }
}
.form {
  &__button {
    //== 768px ==//
    @media (max-width: $mb) {
      margin-top: rem(350);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      margin-top: rem(260);
    }
  }
}
