.complete_modal {
  .complete__title:not(:last-child) {
    margin-bottom: rem(9);
  }
  .complete__description {
    max-width: rem(574);
    @extend %f-20-500;
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  //== 992px ==//
  @media (max-width: $tb) {
    padding: rem(45) rem(25);
  }
}
