.tabs {
  &__navigation {
    //== 1360px ==//
    @media (max-width: $note-l) {
      gap: rem(30);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      gap: rem(25);
    }
  }

  &__title {
    //== 1360px ==//
    @media (max-width: $note-l) {
      gap: rem(8);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      padding: rem(13) 0;
    }
  }

  &__title-icon {
    //== 768px ==//
    @media (max-width: $mb) {
      flex: 0 0 rem(24);
      max-width: rem(24);
      max-height: rem(24);
    }
  }
}
.tabs-card {
  //== 768px ==//
  @media (max-width: $mb) {
    padding-top: rem(40);
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(9);
      }
    }
  }

  &__description {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(15);
      }
    }
  }

  &__preview {
    //== 1200px ==//
    @media (max-width: $note-m) {
      height: rem(480);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      height: rem(420);
      padding: rem(40);
      &:not(:last-child) {
        margin-bottom: rem(45);
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      height: rem(360);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      padding: rem(25) rem(20);
    }
  }

  &__color {
    //== 440px ==//
    @media (max-width: $mb-s) {
      flex: 0 0 rem(42);
      width: rem(42);
      height: rem(42);
    }
  }
}
.row-slider {
  &__subtitle {
    &:not(:last-child) {
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(10);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(6);
      }
    }
    img {
      //== 768px ==//
      @media (max-width: $mb) {
        width: rem(20);
        height: rem(20);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-right: rem(3);
      }
    }
  }

  &__navigation {
    //== 576px ==//
    @media (max-width: $mb-m) {
      gap: rem(15);
    }
  }

  &__slide {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-right: rem(10);
      }
    }
  }

  &__image {
    //== 1200px ==//
    @media (max-width: $note-m) {
      height: rem(280);
    }
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(15);
      }
    }
  }
}
.tabs-inner {
  &__body {
    //== 768px ==//
    @media (max-width: $mb) {
      padding-top: rem(30);
    }
  }
}
