.connect {
  //== 768px ==//
  @media (max-width: $mb) {
    padding-top: rem(67);
    padding-bottom: rem(61);
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    padding-top: rem(45);
    padding-bottom: rem(40);
  }
  &__image {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(30);
      }
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(10);
      }
    }
  }

  &__description {
    max-width: rem(1012);
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 18);
    line-height: 140%;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__form {
    max-width: rem(920);
  }

  &__form-row {
    display: flex;
    gap: rem(20);
    > * {
      flex-grow: 1;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__form-button {
    margin-top: rem(35);
  }
}
