.page {
  &__covered {
    &:not(:last-child) {
      margin-bottom: rem(105);
    }
  }
}
.covered {
  //== 1360px ==//
  @media (max-width: $note-l) {
    padding-bottom: rem(80);
  }
  //== 768px ==//
  @media (max-width: $mb) {
    padding-bottom: rem(60);
    padding-top: rem(68);
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    padding-bottom: rem(38);
    padding-top: rem(61);
  }

  &__header {
    &:not(:last-child) {
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(10);
      }
    }
  }

  &__container {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(42);
      }
    }
  }
  &__description {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(18);
      }
    }
  }

  &__list {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(39);
      }
    }
  }

  &__image {
    min-height: rem(581);
  }

  &__images {
  }

  .benefit_mobile {
    display: none;
  }
  //== 768px ==//
  @media (max-width: $mb) {
    .benefit {
      display: none;
    }
    .benefit_mobile {
      display: flex;
      &:not(:last-child) {
        margin-bottom: rem(42);
      }
    }
  }
}
