.decision {
  &__container {
    //== 1440px ==//
    @media (max-width: $note-xl) {
      background-position: 120% bottom;
    }
    //== 1360px ==//
    @media (max-width: $note-l) {
      background-position: 160% bottom;
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      background-size: 50%;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      background-size: 60%;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding-top: rem(35);
      padding-bottom: rem(45);
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(9);
      }
    }
  }

  &__description {
    max-width: rem(635);
    //== 768px ==//
    @media (max-width: $mb) {
      max-width: 70%;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      > p:not(:last-child) {
        margin-bottom: rem(3);
      }
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }
}
