.delivery {
  //== 992px ==//
  @media (max-width: $tb) {
    padding-bottom: rem(80);
  }
  //== 768px ==//
  @media (max-width: $mb) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }

  &_alone {
    //== 992px ==//
    @media (max-width: $tb) {
      padding-bottom: rem(80);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }
    .delivery__description {
      &:not(:last-child) {
        //== 768px ==//
        @media (max-width: $mb) {
          margin-bottom: rem(15);
        }
      }
    }
  }
  &__container {
    //== 992px ==//
    @media (max-width: $tb) {
      gap: rem(40);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      flex-direction: column;
      gap: rem(20);
    }
  }

  &__title {
    //== 768px ==//
    @media (max-width: $mb) {
      flex: auto;
    }
    svg {
      //== 768px ==//
      @media (max-width: $mb) {
        width: rem(34);
        height: rem(41);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        width: rem(28);
        height: rem(31);
      }
    }
  }
}
