.delivery {
  //== 992px ==//
  @media (max-width: $tb) {
    padding-bottom: rem(80);
  }
  //== 768px ==//
  @media (max-width: $mb) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }

  &_alone {
    padding-bottom: rem(91);
    &:not(:last-child) {
      margin-bottom: rem(80);
    }
    .delivery__container {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(11);
    }
    .delivery__title {
      flex: 0 0 auto;
    }
    .delivery__description {
      max-width: rem(737);
      &:not(:last-child) {
        margin-bottom: rem(29);
      }
    }
  }
  &__container {
    //== 992px ==//
    @media (max-width: $tb) {
      gap: rem(40);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      flex-direction: column;
      gap: rem(20);
    }
  }

  &__title {
    //== 768px ==//
    @media (max-width: $mb) {
      flex: auto;
    }
    svg {
      //== 768px ==//
      @media (max-width: $mb) {
        width: rem(34);
        height: rem(41);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        width: rem(28);
        height: rem(31);
      }
    }
  }
}
