.double-description {
  &_reversed {
    .double-description__image {
      //== 1200px ==//
      @media (max-width: $note-m) {
        margin-left: 0;
      }
    }
  }

  &__image {
    //== 1200px ==//
    @media (max-width: $note-m) {
      margin-right: 0;
      img {
        height: rem(380);
      }
      &.grid-7 {
        grid-column: span 6;
      }
      &.grid-5 {
        grid-column: span 6;
      }
    }
    //== 992px ==//
    @media (max-width: $tb) {
      img {
        height: rem(320);
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      grid-row: 1;
      grid-column: span 6;
    }
  }

  &__content {
    //== 1200px ==//
    @media (max-width: $note-m) {
      &.grid-7 {
        grid-column: span 6;
      }
      &.grid-5 {
        grid-column: span 6;
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 6;
    }
  }

  &__description {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(25);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(20);
      }
    }
  }
}
