.fabric {
  &__image {
    //== 576px ==//
    @media (max-width: $mb-m) {
      max-width: 80%;
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  &__title {
    &:not(:last-child) {
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(8);
      }
    }
  }

  &__description {
    &:not(:last-child) {
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(20);
      }
    }
  }
}
