.faced-work {
  &__container {
    //== 992px ==//
    @media (max-width: $tb) {
      padding-top: rem(50);
      padding-bottom: rem(50);
      min-height: rem(380);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding-top: rem(30);
      padding-bottom: rem(30);
      min-height: rem(340);
    }
  }
  &__content {
    //== 992px ==//
    @media (max-width: $tb) {
      max-width: rem(480);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      h3:not(:last-child) {
        margin-bottom: rem(8);
      }
      p:not(:last-child) {
        margin-bottom: rem(3);
      }
    }
  }
}
