.feedback {
  //== 1200px ==//
  @media (max-width: $note-m) {
    margin-top: rem(-135);
    padding-top: rem(40);
    padding-bottom: rem(55);
  }
  //== 992px ==//
  @media (max-width: $tb) {
    margin-top: rem(-80);
  }
  //== 568px ==//
  @media (max-width: $mb-m) {
    margin-top: rem(-60);
  }

  &__content {
    //== 768px ==//
    @media (max-width: $mb) {
      text-align: center;
    }
  }

  &__title {
    svg {
      //== 768px ==//
      @media (max-width: $mb) {
        width: rem(34);
        height: rem(41);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        width: rem(28);
        height: rem(31);
      }
    }
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(7);
      }
    }
  }

  &__description {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(18);
      }
    }
  }

  &__form {
    //== 768px ==//
    @media (max-width: $mb) {
      justify-content: center;
      gap: rem(6);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex-direction: column;
      align-items: center;
      gap: rem(9);
    }
  }

  &__input {
    //== 576px ==//
    @media (max-width: $mb-m) {
      height: rem(49);
    }
  }

  &__button {
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding-top: rem(18.5);
      padding-bottom: rem(18.5);
    }
  }

  &__image {
    //== 768px ==//
    @media (max-width: $mb) {
      display: none;
    }
  }
}
