.franchise {
  &__item {
    p {
      &:not(:last-child) {
        //== 576px ==//
        @media (max-width: $mb-m) {
          margin-bottom: rem(6);
        }
      }
    }
    &_1 {
      grid-column: span 6;
      grid-row: span 2;
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: span 4;
        padding: rem(40) rem(25);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        min-height: 0;
        grid-column: span 12;

        svg {
          &:not(:last-child) {
            margin-bottom: rem(25);
          }
        }
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 6;
        svg {
          width: rem(80);
          height: rem(80);
          &:not(:last-child) {
            margin-bottom: rem(15);
          }
        }
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        svg {
          width: rem(60);
          height: rem(60);
        }
      }
    }

    &_2 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: span 4;
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 6;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 3;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        grid-column: span 6;
        padding: rem(45) rem(20);
      }
    }

    &_3 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: span 4;
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 6;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 3;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        grid-column: span 6;
        margin-bottom: 0;
        padding: rem(40) rem(20) rem(30);
      }
    }

    &_4 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: span 4;
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 6;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 3;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        grid-column: span 6;
        padding: rem(35) rem(20) rem(40);
      }
    }

    &_5 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: span 4;
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 6;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 3;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        height: rem(240);
        grid-row: 5;
        grid-column: span 6;
        margin-top: 0;
      }
    }
  }
}
