.general-navigation {
  //== 992px ==//
  @media (max-width: $tb) {
    display: flex;
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    left: rem(22);
    right: rem(22);
    transform: none;
    gap: rem(10);
    justify-content: space-between;
  }
}
