.linked-slider {
  &__slide {
    //== 1360px ==//
    @media (max-width: $note-l) {
      height: rem(400);
    }
  }

  &__slider-block {
    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 6;
      padding-right: rem(10);
    }
  }

  &__column {
    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 6;
    }
  }

  &__text {
    //== 768px ==//
    @media (max-width: $mb) {
      max-width: rem(580);
    }
  }
  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(7);
      }
    }
  }

  &__navigation {
    //== 768px ==//
    @media (max-width: $mb) {
      justify-content: center;
    }
  }
}
