.page {
  &__hero {
    &:not(:last-child) {
      margin-bottom: rem(65);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(55);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(35);
      }
    }
  }
  &__feedback,
  &__product,
  &__connect,
  &__advantages,
  &__inner,
  &__team,
  &__fabric,
  &__configuration {
    &:not(:last-child) {
      margin-bottom: rem(125);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(75);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(51);
      }
    }
  }
  &__card-links,
  &__suppliers,
  &__cart-preview,
  &__double-description,
  &__slider,
  &__vertical-cards,
  &__linked-slider,
  &__slide-image,
  &__row-slider,
  &__company {
    &:not(:last-child) {
      margin-bottom: rem(100);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(75);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(51);
      }
    }
  }

  &__price-list {
    &:not(:last-child) {
      margin-bottom: rem(165);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(85);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(65);
      }
    }
  }

  .page__quote {
    margin-top: rem(145);
    //== 992px ==//
    @media (max-width: $tb) {
      margin-top: rem(125);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: rem(90);
    }
    &:not(:last-child) {
      margin-bottom: rem(165);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(95);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(80);
      }
    }
  }
  &__showrooms-conutries {
    &:not(:last-child) {
      margin-bottom: rem(180);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(80);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(50);
      }
    }
  }
  &__delivery {
    &:not(:last-child) {
      margin-bottom: rem(0);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(60);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(40);
      }
    }
  }

  &__inner.inner_about {
    &:not(:last-child) {
      margin-bottom: rem(95);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(65);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(50);
      }
    }
  }

  &__delivery.delivery_alone {
    &:not(:last-child) {
      margin-bottom: rem(80);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(70);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(60);
      }
    }
  }
  &__delivery.delivery_alone + * {
    margin-top: 0;
  }
  &__delivery + * {
    margin-top: rem(-120);
    //== 992px ==//
    @media (max-width: $tb) {
      margin-top: 0;
    }
  }
}
