.material {
  &__container {
  }

  &__title {
  }

  &__description {
    &:not(:last-child) {
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(35);
      }
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(20);
      }
    }
  }

  &__cards {
  }

  &__col {
    //== 1440px ==//
    @media (max-width: $note-xl) {
      &.grid-5 {
        grid-column: span 4;
      }
      &.grid-3 {
        grid-column: span 4;
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      &.grid-5 {
        grid-column: span 6;
      }
      &.grid-3,
      &.grid-4 {
        grid-column: span 3;
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      &.grid-3,
      &.grid-4 {
        grid-column: span 6;
      }
    }
  }

  &__card {
    &:not(:last-child) {
      margin-bottom: rem(17);
    }
    &_1 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        padding: rem(25) rem(30);
      }
      //== 768px ==//
      @media (max-width: $mb) {
        min-height: rem(550);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        min-height: rem(360);
        .material__card-title:not(:last-child) {
          margin-bottom: rem(9);
        }
      }
    }

    &_2 {
      //== 768px ==//
      @media (max-width: $mb) {
        padding: rem(25);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        min-height: rem(240);
        .material__card-title:not(:last-child) {
          margin-bottom: rem(6);
        }
      }
    }

    &_3 {
      //== 768px ==//
      @media (max-width: $mb) {
        padding: rem(25);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        min-height: rem(190);
      }
    }

    &_4 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        padding: rem(25) rem(20) rem(30) rem(15);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        padding: rem(31) rem(16) rem(27) rem(33);
      }
    }

    &_5 {
      //== 576px ==//
      @media (max-width: $mb-m) {
        background-size: 80% auto;
        min-height: rem(320);
      }
      //== 440px ==//
      @media (max-width: $mb-s) {
        background-size: 90% auto;
        min-height: rem(260);
      }
    }
  }
}
