.price-list {
  &__container {
    //== 1360px ==//
    @media (max-width: $note-l) {
      grid-auto-flow: dense;
    }
  }

  &__item {
    //== 1360px ==//
    @media (max-width: $note-l) {
      min-height: rem(380);
      &.grid-3:nth-child(even) {
        grid-column: span 6;
      }
      &.grid-3:nth-child(odd) {
        grid-column: span 3;
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      min-height: rem(320);
      &.grid-3:nth-child(even) {
        grid-column: span 3;
      }
      &.grid-3:nth-child(odd) {
        grid-column: span 3;
      }
      &.grid-6 {
        grid-column: span 3;
      }
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      min-height: rem(240);
      padding: rem(20);
    }
  }

  &__link {
    padding: rem(30) rem(30) rem(36) rem(30);

    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 6;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding: rem(20) rem(30) rem(25) rem(30);
    }
  }
}
