.page {
  &__product {
    &:not(:last-child) {
      margin-bottom: rem(125);
    }
  }
}
.product {
  &_covered.product_light {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    .product__body {
      padding-top: rem(66);
      padding-bottom: rem(57);
      padding-left: rem(55);
    }
  }
  &_super {
    .product__body {
      max-width: rem(575);
    }
  }
  &_light {
    padding-top: rem(66);
    padding-bottom: rem(57);
    color: var(--clr-white);
    .product__body {
      text-align: left;
    }
    .product__container {
      border-radius: rem(5);
    }
    .product__logo {
      color: var(--clr-white);
      &::before {
        background-image: url("@img/icons/left-product.svg");
      }
      &::after {
        background-image: url("@img/icons/right-product.svg");
      }
      &:not(:last-child) {
        margin-bottom: rem(78);
      }
    }
    button.product__button {
      background-color: var(--clr-white);
      color: var(--clr-black);
      backdrop-filter: blur(5px);
    }
  }
  padding-top: rem(130);
  padding-bottom: rem(107);
  background-color: #f5f5f5;

  background-position: 80% center;

  &__container {
  }

  &__body {
    text-align: center;
    max-width: rem(545);
  }

  &__logo {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(18);
      }
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(9);
      }
    }
  }

  &__description {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(22);
      }
    }
  }

  &__button.button {
    backdrop-filter: none;
    background-color: var(--clr-black);
  }

  &_main {
    &::after {
      //== 1440px ==//
      @media (max-width: $note-xl) {
        background-position: 100% center;
      }
      //== 1360px ==//
      @media (max-width: $note-l) {
        transform: translateX(20%);
      }
      //== 1024px ==//
      @media (max-width: $note-s) {
        transform: translateX(40%);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        transform: translateX(30%);
      }
      //== 768px ==//
      @media (max-width: $mb) {
        display: block;
        position: static;
        height: rem(262);
        transform: none;
        background-position: 40%;
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      padding-top: rem(65);
      padding-bottom: 0;

      .product__body {
        margin-left: auto;
        margin-right: auto;
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(0);
      }
    }
  }
}
