.product {
  &_covered.product_light {
    .product__container {
      @media (max-width: $pc) {
        margin-left: rem(15);
        margin-right: rem(15);
      }
    }
    .product__body {
      //== 576px ==//
      @media (max-width: $mb-m) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &_super {
    .product__body {
      max-width: rem(575);
    }
  }

  &__logo {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(18);
      }
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(9);
      }
    }
  }

  &__description {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(22);
      }
    }
  }

  &_main {
    &::after {
      //== 1440px ==//
      @media (max-width: $note-xl) {
        background-position: 100% center;
      }
      //== 1360px ==//
      @media (max-width: $note-l) {
        transform: translateX(20%);
      }
      //== 1024px ==//
      @media (max-width: $note-s) {
        transform: translateX(40%);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        transform: translateX(30%);
      }
      //== 768px ==//
      @media (max-width: $mb) {
        display: block;
        position: static;
        height: rem(262);
        transform: none;
        background-position: 40%;
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      padding-top: rem(65);
      padding-bottom: 0;

      .product__body {
        margin-left: auto;
        margin-right: auto;
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(0);
      }
    }
  }
}
