.request {
  &__form-row {
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex-direction: column;
      gap: 0;
      > * {
        flex: auto;
      }
    }
  }

  &__button {
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: rem(25);
    }
  }
}
