.showrooms {
  //== 992px ==//
  @media (max-width: $tb) {
    background-size: cover;
    padding-bottom: rem(100);
  }
  //== 768px ==//
  @media (max-width: $mb) {
    padding-bottom: rem(80);
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    padding-bottom: rem(60);
  }
  img {
    //== 768px ==//
    @media (max-width: $mb) {
      height: rem(240);
      margin-top: rem(30);
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      height: rem(190);
      margin-top: rem(20);
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }
}
