.showrooms-conutries {
  &__description {
    &:not(:last-child) {
      @media (max-width: $mb) {
        margin-bottom: rem(20);
      }
    }
  }

  &__contry-list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(18);
  }

  &__image {
    img {
      height: rem(315);
      border-radius: rem(5);
    }
  }
}
