.slider {
  &__slide {
    //== 1360px ==//
    @media (max-width: $note-l) {
      height: rem(580);
    }
    //== 1024px ==//
    @media (max-width: $note-s) {
      height: rem(480);
      padding: rem(45) rem(40);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      height: rem(380);
      padding: rem(35) rem(30);
      padding-right: rem(205);
    }
  }

  &__navigation {
    //== 1024px ==//
    @media (max-width: $note-s) {
      right: rem(40);
      bottom: rem(45);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      right: rem(30);
      bottom: rem(35);
    }
  }
}
