.slide-image {
  &__container {
    //== 1360px ==//
    @media (max-width: $note-l) {
      min-height: rem(460);
    }
    //== 992px ==//
    @media (max-width: $tb) {
      min-height: rem(420);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      gap: rem(20);
      padding: rem(40);
      min-height: rem(380);
      &::before {
        opacity: 0.8;
        background: linear-gradient(60.47deg, rgba(102, 93, 80, 0.9) 15.15%, rgba(161, 155, 145, 0) 90.89%);
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      min-height: rem(280);
      padding: rem(35) rem(20);
      padding-top: rem(80);
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      min-height: rem(220);
    }
  }

  &__company {
    //== 768px ==//
    @media (max-width: $mb) {
      top: rem(40);
      left: rem(40);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      top: rem(35);
      left: rem(20);
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(5);
      }
    }
  }
}
