.strength {
  .grid-container {
    //== 768px ==//
    @media (max-width: $mb) {
      gap: rem(12);
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(10);
      }
    }
  }

  &__description {
    //== 768px ==//
    @media (max-width: $mb) {
      max-width: rem(620);
    }
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(30);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(20);
      }
    }
  }

  &__icon-card {
    //== 1440px ==//
    @media (max-width: $note-xl) {
      grid-column: span 4;
      padding: rem(35);
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      min-height: 0;
      grid-column: span 12;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 6;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      padding: rem(35) rem(25);
    }
  }
  &__icon-card-icon {
    //== 1200px ==//
    @media (max-width: $note-m) {
      flex: 0 0 rem(55);
      width: rem(55);
      height: rem(55);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex: 0 0 rem(45);
      width: rem(45);
      height: rem(45);
    }
  }

  &__gradient-card {
    padding: rem(36);

    //== 1440px ==//
    @media (max-width: $note-xl) {
      grid-column: span 4;
      padding: rem(30);
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 6;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 3;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-column: span 6;
    }
  }

  &__text-card {
    //== 1440px ==//
    @media (max-width: $note-xl) {
      justify-content: center;
      grid-column: span 4;
      padding: rem(80) rem(45) rem(50);
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 6;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 3;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-column: span 6;
      padding: rem(40) rem(25) rem(40);
    }
  }

  &__text-card-number {
    //== 1440px ==//
    @media (max-width: $note-xl) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__text-card-title {
  }
}
