.suppliers {
  &__container {
    //== 992px ==//
    @media (max-width: $tb) {
      flex-direction: column-reverse;
      gap: rem(30);
    }
  }

  &__title {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(13);
      }
    }
  }

  &__description {
    &:not(:last-child) {
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(25);
      }
    }
  }

  &__logoes {
    //== 576px ==//
    @media (max-width: $mb-m) {
      gap: rem(20);
    }
  }

  &__image {
    //== 1360px ==//
    @media (max-width: $note-l) {
      flex: 0 0 rem(380);
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      display: none;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      display: block;
      width: 100%;
      img {
        width: 100%;
        height: rem(380);
        object-fit: cover;
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      flex: 0 0 rem(240);
      img {
        height: rem(240);
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex: 0 0 rem(190);
      img {
        height: rem(190);
      }
    }
  }
}
