.team {
  &__container {
  }

  &__item {
    &_1,
    &_4 {
      min-height: rem(580);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      //== 992px ==//
      @media (max-width: $tb) {
        min-height: 0;
      }
    }
    &_1 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        padding: rem(55) rem(40) rem(40) rem(35);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 12;
        grid-row: span 1;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 6;
      }
      //== 440px ==//
      @media (max-width: $mb-s) {
        padding: rem(40) rem(30) rem(35) rem(30);
      }
    }

    &_2 {
      grid-column: 5 / 8;
      grid-row: 1;
      padding: rem(60) rem(45) rem(52) rem(45);
      span {
        @include adaptiveValue("font-size", 80, 40);
        &:not(:last-child) {
          margin-bottom: rem(21);
        }
      }
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: 5/9;
        padding: rem(50) rem(25) rem(45) rem(25);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 6;
        grid-row: 2;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 3;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        grid-column: span 6;
      }
      //== 440px ==//
      @media (max-width: $mb-s) {
        padding: rem(40) rem(20) rem(35) rem(20);
      }
    }

    &_3 {
      grid-column: 5 / 8;
      grid-row: 2;
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: 5/9;
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 6;
        grid-row: 2;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 3;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        grid-column: span 6;
        grid-row: 3;
      }
    }

    &_4 {
      //== 1360px ==//
      @media (max-width: $note-l) {
        grid-column: 9/13;
        padding: rem(55) rem(50) rem(40) rem(35);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        grid-column: span 12;
        grid-row: span 1;
      }
      //== 768px ==//
      @media (max-width: $mb) {
        grid-column: span 6;
      }
      //== 440px ==//
      @media (max-width: $mb-s) {
        padding: rem(40) rem(30) rem(35) rem(30);
      }
    }
  }

  &__item-image {
    //== 992px ==//
    @media (max-width: $tb) {
      &:not(:last-child) {
        margin-bottom: rem(25);
      }
    }
    //== 768px ==//
    @media (max-width: $mb) {
      img {
        max-width: rem(220);
      }
    }
    //== 440px ==//
    @media (max-width: $mb-s) {
      img {
        max-width: rem(190);
      }
    }
  }

  &__item-content {
    h2,
    h3 {
      @media (min-width: $tb) and (max-width: $note-m) {
        font-size: rem(28);
      }
      &:not(:last-child) {
        //== 992px ==//
        @media (max-width: $tb) {
          margin-bottom: rem(12);
        }
        //== 768px ==//
        @media (max-width: $mb) {
          margin-bottom: rem(8);
        }
      }
    }
  }
}
