.vertical-cards {
  &__image {
    &:not(:last-child) {
      margin-bottom: rem(117);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(80);
      }
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(40);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(25);
      }
    }
  }
  &__title {
    &:not(:last-child) {
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(11);
      }
    }
  }
  &__description {
    &:not(:last-child) {
      //== 768px ==//
      @media (max-width: $mb) {
        margin-bottom: rem(35);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(25);
      }
    }
  }
  &__button {
    //== 768px ==//
    @media (max-width: $mb) {
      margin-top: rem(40);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: rem(15);
    }
  }
}
.vertical-card {
  .vertical-cards_extended &.grid-4 .vertical-card__image img {
    //== 992px ==//
    @media (max-width: $tb) {
      height: rem(380);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      height: rem(320);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      height: rem(280);
    }
  }
  .vertical-card_height & .vertical-card__image img {
    height: rem(518);
    //== 992px ==//
    @media (max-width: $tb) {
      height: rem(440);
    }
    //== 768px ==//
    @media (max-width: $mb) {
      height: rem(360);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      height: rem(340);
    }
  }
  &__image {
    .grid-6 & img,
    .grid-3 & img {
      //== 1200px ==//
      @media (max-width: $note-m) {
        //== 1200px ==//
        @media (max-width: $note-m) {
          height: rem(360);
        }
        //== 992px ==//
        @media (max-width: $tb) {
          height: rem(340);
        }
        //== 768px ==//
        @media (max-width: $mb) {
          height: rem(260);
        }
        //== 576px ==//
        @media (max-width: $mb-m) {
          height: rem(240);
        }
      }
    }
    .grid-4 & img {
      //== 1200px ==//
      @media (max-width: $note-m) {
        height: rem(260);
      }
      //== 992px ==//
      @media (max-width: $tb) {
        height: rem(240);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        height: rem(200);
      }
    }
    &:not(:last-child) {
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(15);
      }
    }
  }
  &.grid-3 {
    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 6;
    }
  }
  &.grid-4 {
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 3;
      &:first-child {
        grid-column: span 6;
      }
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-column: span 6;
    }
  }
  &.grid-6 {
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 3;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      grid-column: span 6;
    }
  }
}
