//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  svg {
    flex: 0 0 rem(24);
    width: rem(24);
    height: rem(24);
  }

  gap: rem(7);
  padding: rem(21) rem(28);
  border-radius: rem(8);
  background-color: var(--clr-green);
  color: var(--clr-white);

  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.02em;
  @include adaptiveValue("font-size", 18, 13);

  transition:
    background-color 0.32s ease,
    color 0.32s ease,
    border-radius 0.32s ease;

  svg {
    flex: 0 0 rem(20);
    width: rem(20);
    height: rem(20);
    fill: var(--clr-white);
  }

  &__arrow {
    color: var(--clr-white);
    opacity: 0.5;
    transition:
      color 0.32s ease,
      transform 0.32s ease;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #52a329;
      border-radius: rem(12);
      .button__arrow {
        transform: translateX(rem(2));
        opacity: 1;
      }
    }
  }
  &._fw {
    width: 100%;
  }
  &.button_small {
    padding: rem(11) rem(15) rem(12);
    @include adaptiveValue("font-size", 15, 12);
  }
  &.button_rounded {
    border-radius: rem(35);
  }
  &.button_blue {
    background-color: var(--clr-blue);
    @media (any-hover: hover) {
      &:hover {
        background-color: #1148b3;
      }
    }
  }
  &.button_black {
    background-color: var(--clr-black);
    color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
    @media (any-hover: hover) {
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  &.button_red {
    background-color: #d12d33;
    backdrop-filter: blur(5px);
    @media (any-hover: hover) {
      &:hover {
        background-color: #cc1e25;
      }
    }
  }
  &.button_white {
    background-color: var(--clr-white);
    color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    .button__arrow {
      color: var(--clr-black);
    }
    @media (any-hover: hover) {
      &:hover {
        color: rgba(0, 0, 0, 1);
      }
    }
  }
}
