//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  svg {
    flex: 0 0 rem(24);
    width: rem(24);
    height: rem(24);
  }

  gap: rem(7);
  padding: rem(18) rem(28) rem(23);
  border-radius: rem(8);
  background-color: var(--clr-green);
  color: var(--clr-white);

  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.02em;
  @include adaptiveValue("font-size", 18, 15);

  transition:
    background-color 0.32s ease-in-out,
    color 0.32s ease-in-out;

  svg {
    flex: 0 0 rem(20);
    width: rem(20);
    height: rem(20);
    fill: var(--clr-white);
  }

  &__arrow {
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.32s ease-in-out;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #4e8f2d;
    }
  }
  &._fw {
    width: 100%;
  }
  &.button_small {
    padding: rem(11) rem(15) rem(12);
    @include adaptiveValue("font-size", 15, 12);
  }
  &.button_rounded {
    border-radius: rem(35);
  }
  &.button_blue {
    background-color: var(--clr-blue);
    @media (any-hover: hover) {
      &:hover {
        background-color: #1647a9;
      }
    }
  }
  &.button_black {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  &.button_white {
    background-color: var(--clr-white);
    color: var(--clr-black);
    backdrop-filter: blur(5px);
    .button__arrow {
      color: rgba(0, 0, 0, 0.5);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        color: var(--clr-white);

        .button__arrow {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}
