.checkboxes {
  display: flex;
  gap: rem(10);
}
.checkbox {
  @include adaptiveValue("font-size", 18, 14);
  line-height: 110%;
  letter-spacing: -0.03em;
  input {
    display: none;
  }
  input + label {
    max-width: rem(163);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: rem(128);
    padding: rem(17) rem(21) rem(17) rem(18);
    background-color: var(--clr-light);
    border-radius: rem(10);

    transition: all 0.32s ease-in-out;

    .complete_bg & {
      background-color: var(--clr-white);
    }
  }
  input:checked + label {
    background-color: #d5e2fc;
    color: var(--clr-blue);
  }
  input:checked + label span {
    background-color: var(--clr-blue);
    .complete_bg & {
      border-color: transparent;
    }
    &::before {
      background-color: var(--clr-white);
      transform: translateX(calc(100% - rem(4)));
    }
  }

  .radio-select {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    top: rem(17);
    left: rem(18);
    background-color: var(--clr-white);
    border-radius: rem(20);
    width: rem(46);
    height: rem(26);

    transition: background-color 0.32s ease-in-out;

    .complete_bg & {
      border: 2px solid var(--clr-grey-light);
    }

    &::before {
      content: "";
      position: absolute;
      left: rem(4);
      width: rem(20);
      height: rem(17.33);
      background: #d7d7d7;
      border-radius: rem(20);

      transition: all 0.32s ease-in-out;
    }
  }
}
