//<FORM>
// Снипет (HTML):
.form {
  &__row {
  }
  &__column {
  }
  &__line {
  }
  &__input {
  }
  &__button {
  }
  &__error {
  }
  &__item {
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 16);
    line-height: 100%;
    letter-spacing: -0.03em;
    > p:not(:last-child) {
      margin-bottom: rem(14);
    }
  }
}
.radio-select {
  display: inline-flex;
  align-items: center;
  background-color: var(--clr-light);
  padding-left: rem(19);
  padding-right: rem(19);
  border-radius: rem(10);
  height: rem(44);
  overflow: hidden;

  > span {
    display: flex;
    align-items: center;
  }

  > span::before,
  > span:last-child::after {
    content: ".";
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 rem(36);
    width: rem(36);

    text-align: center;
    @include adaptiveValue("font-size", 20, 14);
    transform: translateY(-20%);
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 0.2);
  }

  span label {
    cursor: pointer;
  }

  span input {
    display: none;
    & + label {
      display: block;
      padding: rem(9) rem(20);
      border-radius: rem(10);
      border: rem(6) solid transparent;

      font-weight: 500;
      @include adaptiveValue("font-size", 20, 14);
      line-height: 100%;
      letter-spacing: -0.03em;
      color: var(--clr-main);

      transition: all 0.32s ease-in-out;
    }
    &:checked + label {
      transform: scale(1.2);
      color: var(--clr-blue);
      background-color: #d5e2fc;
      border-color: var(--clr-white);
    }
  }
}
//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
@import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";
