.menu {
  &__body {
    > ul {
    }
    > ul > li {
      &:not(:last-child) {
        margin-bottom: rem(2);
      }

      .header__menu & {
        &:first-child {
          margin-bottom: rem(15);
        }
        &:last-child {
          margin-top: rem(16);
        }
      }
    }
    > ul > li > a {
      display: flex;
      align-items: center;
      gap: rem(14);
      padding: rem(8) rem(7);
      transition:
        background-color 0.32s ease-in-out,
        color 0.25s ease-in-out;
      border-radius: rem(10);

      .menu__icon {
        flex: 0 0 rem(28);
        width: rem(28);
        height: rem(28);
        fill: var(--clr-black);

        transition:
          opacity 0.32s ease-in-out,
          transform 0.32s ease-in-out;
      }
      font-size: rem(16);
      letter-spacing: -0.04em;
      color: rgba(0, 0, 0, 0.6);

      @media (any-hover: hover) {
        &:hover {
          background-color: rgba(218, 214, 207, 0.45);
          color: rgba(0, 0, 0, 0.8);
          .menu__icon {
            opacity: 0.8;
            transform: scale(1.1);
          }
        }
      }
    }
    > ul > li ul {
    }
    > ul > li ul li {
    }
    > ul > li ul li a {
    }
  }
}
//====================================================================================================
// .icon-menu {
//   display: none;
//   @media (max-width: $mb) {
//     display: block;
//     position: relative;
//     width: rem(22);
//     height: rem(16);
//     cursor: pointer;
//     z-index: 31;
//     span,
//     &::before,
//     &::after {
//       content: "";
//       transition: all 0.35s ease 0s;
//       right: 0;
//       position: absolute;
//       width: 100%;
//       height: rem(2);
//       background-color: var(--clr-white);
//       border-radius: 20px;
//     }
//     &::before {
//       top: 0;
//       animation: menu07-bar01 0.55s forwards;
//     }
//     span {
//       top: calc(50% - rem(1));
//       transition: all 0.25s 0.25s;
//       opacity: 1;
//     }
//     &::after {
//       bottom: 0;
//       animation: menu07-bar03 0.55s forwards;
//     }
//     .menu-open & {
//       &::before {
//         animation: active-menu07-bar01 0.55s forwards;
//       }
//       span {
//         opacity: 0;
//       }
//       &::after {
//         animation: active-menu07-bar03 0.55s forwards;
//       }
//     }
//   }
// }

@keyframes menu07-bar01 {
  0% {
    transform: translateY(7px) rotate(45deg);
  }

  50% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu07-bar03 {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }

  50% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(7px) rotate(45deg);
  }
}
@keyframes active-menu07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}
