.aside {
  position: fixed;
  z-index: 5;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;

  width: var(--aside-width);
  display: flex;
  flex-direction: column;

  padding-top: rem(38);
  padding-left: rem(30);
  padding-right: rem(21);
  padding-bottom: rem(30);
  background-color: rgba(255, 255, 255, 0.75);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  &__menu {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__phone {
    display: block;
    font-weight: 600;
    font-size: rem(24);
    line-height: 100%;
    letter-spacing: -0.04em;

    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  &__button.button {
    font-size: rem(14);
  }

  &__header {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: rem(55);
    }
  }

  &__header-logo {
    display: block;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
}
