[hidden] {
  display: none;
}

.inner-title {
  font-weight: 600;
  @include adaptiveValue("font-size", 60, 28);
  line-height: 110%;
  letter-spacing: -0.03em;
}

.title-35 {
  @extend %f-35-500;
}
.text-field {
  max-width: rem(1080);
  p:not(:last-child) {
    margin-bottom: rem(7);
  }
}
.bg-cov {
  @extend %bg-cov;
}
.bg-con {
  @extend %bg-con;
}

.product-title {
  font-weight: 500;
  @include adaptiveValue("font-size", 50, 24);
  line-height: 110%;
  letter-spacing: -0.03em;
}

.image-section {
  &:not(:last-child) {
    margin-bottom: rem(140);
  }
  .container {
    min-height: rem(556);
    border-radius: rem(5);
  }
}

.inner-header {
  font-weight: 600;
  @include adaptiveValue("font-size", 76, 32);
  line-height: 100%;
  letter-spacing: -0.03em;
}

.middle-title {
  font-weight: 500;
  @include adaptiveValue("font-size", 40, 20);
  line-height: 120%;
  letter-spacing: -0.03em;

  &:not(:last-child) {
    margin-bottom: rem(14);
  }
}

.title {
  font-weight: 600;
  @include adaptiveValue("font-size", 55, 24);
  line-height: 100%;
  letter-spacing: -0.03em;

  &.title_gradient {
    background: -webkit-linear-gradient(top, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    vertical-align: middle;
  }
}

.subtitle {
  @include adaptiveValue("font-size", 30, 20);
  line-height: 110%;
  letter-spacing: -0.03em;
}

.big-title {
  font-weight: 600;
  @include adaptiveValue("font-size", 105, 48);
  line-height: 100%;
  letter-spacing: -0.03em;
}

.descr {
  font-weight: 400;
  @include adaptiveValue("font-size", 28, 20);
  line-height: 140%;
  letter-spacing: -0.03em;
}

.description {
  font-weight: 400;
  @include adaptiveValue("font-size", 18, 14);
  line-height: 140%;
  color: rgba(23, 23, 23, 0.7);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: rem(20);
}
.vertical-center {
  align-items: center;
}
.grid-3 {
  grid-column: span 3;
}
.grid-4 {
  grid-column: span 4;
}
.grid-5 {
  grid-column: span 5;
}
.grid-6 {
  grid-column: span 6;
}
.grid-7 {
  grid-column: span 7;
}
.grid-9 {
  grid-column: span 9;
}
.grid-fl {
  grid-column: span 12;
}

p._strong {
  font-weight: 600;
}
._blue {
  color: #2657b3;
}
._green {
  color: #25a325;
}
._light-blue {
  color: #0fa6bc;
}
.navigation {
  display: flex;
  align-items: center;
  gap: rem(7);
}
