[hidden] {
  display: none;
}

.inner-title {
  font-weight: 600;
  @include adaptiveValue("font-size", 60, 28);
  line-height: 110%;
  letter-spacing: -0.03em;
}

.middle-title {
  font-weight: 600;
  @include adaptiveValue("font-size", 40, 20);
  line-height: 120%;
  letter-spacing: -0.03em;
}

.title {
  font-weight: 600;
  @include adaptiveValue("font-size", 55, 24);
  line-height: 100%;
  letter-spacing: -0.03em;

  &.title_gradient {
    background: -webkit-linear-gradient(top, rgba(23, 23, 23, 0.9), rgba(23, 23, 23, 0.3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    vertical-align: middle;
  }
}

.big-title {
  font-weight: 600;
  @include adaptiveValue("font-size", 105, 48);
  line-height: 100%;
  letter-spacing: -0.03em;
}

.descr {
  font-weight: 400;
  @include adaptiveValue("font-size", 28, 20);
  line-height: 140%;
  letter-spacing: -0.03em;
}

.description {
  font-weight: 400;
  @include adaptiveValue("font-size", 18, 14);
  line-height: 140%;
  color: rgba(23, 23, 23, 0.7);
}

.page {
  &__double {
    &:not(:last-child) {
      margin-bottom: rem(135);
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: rem(20);
}
.grid-3 {
  grid-column: span 3;
}
.grid-4 {
  grid-column: span 4;
}
.grid-5 {
  grid-column: span 5;
}
.grid-7 {
  grid-column: span 7;
}
.grid-9 {
  grid-column: span 9;
}

.infinite-line {
  display: flex;
  gap: rem(28);
  @extend %ml;

  @media (min-width: em(1600)) {
    padding-left: rem(60);
  }

  > * {
    flex: 0 0 rem(1100);
  }
}
.subtitle {
  @include adaptiveValue("font-size", 30, 20);
  line-height: 110%;
  letter-spacing: -0.03em;
}
.card {
  img {
    max-width: 100%;
    object-fit: cover;
    min-height: rem(408);
    border-radius: rem(5);
    &:not(:last-child) {
      margin-bottom: rem(23);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(7);
    }
  }
}
.preview {
  margin-left: rem(267);
  @extend %bg-cov;
  background-position: 30% top;
  height: rem(400);

  &:not(:last-child) {
    margin-bottom: rem(90);
  }
}

p._strong {
  font-weight: 600;
}
._blue {
  color: #2657b3;
}
._green {
  color: #25a325;
}
._light-blue {
  color: #0fa6bc;
}
