[hidden] {
  display: none;
}
.bg-cov {
  @extend %bg-cov;
}
.bg-con {
  @extend %bg-con;
}

.image-section {
  &:not(:last-child) {
    margin-bottom: rem(140);
  }
  .container {
    min-height: rem(556);
    border-radius: rem(5);
  }
}

.inner-title {
  font-weight: 600;
  @include adaptiveValue("font-size", 60, 25);
  line-height: 110%;
  letter-spacing: -0.03em;
}
.title-35 {
  @extend %f-35-500;
}

.text-field {
  max-width: rem(1080);
  p:not(:last-child) {
    margin-bottom: rem(7);
  }
}
.product-title {
  font-weight: 500;
  @include adaptiveValue("font-size", 50, 25);
  line-height: 110%;
  letter-spacing: -0.03em;
}

.inner-header {
  font-weight: 600;
  @include adaptiveValue("font-size", 76, 30);
  line-height: 100%;
  letter-spacing: -0.03em;
}

.middle-title {
  font-weight: 500;
  @include adaptiveValue("font-size", 40, 25);
  line-height: 120%;
  letter-spacing: -0.03em;

  &:not(:last-child) {
    margin-bottom: rem(14);
  }
}

.title {
  font-weight: 600;
  @include adaptiveValue("font-size", 55, 25);
  line-height: 100%;
  letter-spacing: -0.03em;

  &.title_gradient {
    background: -webkit-linear-gradient(
      top,
      rgba(23, 23, 23, 0.9),
      rgba(23, 23, 23, 0.3)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    vertical-align: middle;
  }
}

.subtitle {
  @include adaptiveValue("font-size", 30, 20);
  line-height: 110%;
  letter-spacing: -0.03em;
}

.big-title {
  font-weight: 600;
  @include adaptiveValue("font-size", 105, 45);
  line-height: 100%;
  letter-spacing: -0.03em;
}

.descr {
  font-weight: 400;
  @include adaptiveValue("font-size", 28, 20);
  line-height: 140%;
  letter-spacing: -0.03em;
}

.description {
  font-weight: 400;
  @include adaptiveValue("font-size", 18, 16);
  line-height: 140%;
  color: rgba(23, 23, 23, 0.7);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: rem(20);

  //== 768px ==//
  @media (max-width: $mb) {
    grid-template-columns: repeat(6, 1fr);
  }
}
.vertical-center {
  align-items: center;
}
.grid-3 {
  grid-column: span 3;
}
.grid-4 {
  grid-column: span 4;
}
.grid-5 {
  grid-column: span 5;
}
.grid-6 {
  grid-column: span 6;
}
.grid-7 {
  grid-column: span 7;
}
.grid-9 {
  grid-column: span 9;
}
.grid-fl {
  grid-column: span 12;
}

p._strong {
  font-weight: 600;
}
._blue {
  color: #2657b3;
}
._green {
  color: #25a325;
}
._light-blue {
  color: #0fa6bc;
}
.navigation {
  display: flex;
  align-items: center;
  gap: rem(7);
}

.remove-button {
  width: rem(40);
  height: rem(40);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow:
    0px 10px 10px rgba(0, 0, 0, 0.05),
    0px 2px 2px rgba(0, 0, 0, 0.04);
  transform: translateY(-50%);
  @extend %bg-con;
  background-size: rem(20);
  background-image: url("@img/icons/trash.svg");
}

.row-slider__header .row-slider__title:not(:last-child) {
  margin-bottom: 0;
}
.row-slider__title span {
  color: rgba(0, 0, 0, 0.4);
}
