//====================================================================================================
.header {
  display: none;

  padding-top: rem(15);
  padding-bottom: rem(15);
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
  }

  &__logo {
  }

  &__icon {
  }
}

//====================================================================================================
