@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Inter", sans-serif;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1390;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth);
$note-xl: em(1439.98);
$note-l: em(1365.98);
$note-m: em(1199.98);
$note-s: em(1023.98);
$tb: em(991.98);
$tb-s: em(869.98);
$mb: em(767.98);
$mb-m: em(575.98);
$mb-s: em(439.98);
$mb-xs: em(369.98);

// Тип адаптива:
$responsiveType: 1;

// CSS-переменные ============================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./root";
// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
  background-color: var(--clr-white);
  font-weight: 500;
  letter-spacing: -0.02em;
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  .loaded & {
  }
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: rem(135);
      //== 992px ==//
      @media (max-width: $tb) {
        margin-bottom: rem(80);
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-bottom: rem(60);
      }
    }
  }

  section,
  footer,
  .container_ml {
    //== 992px ==//
    @media (min-width: $tb) {
      padding-left: var(--aside-width);
    }
  }
}

.page {
  &_order {
    padding-top: rem(77);
  }
  > *:not(:last-child) {
    margin-bottom: rem(135);
    //== 992px ==//
    @media (max-width: $tb) {
      margin-bottom: rem(80);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: rem(60);
    }
  }
}

.container_mb {
  &:not(:last-child) {
    margin-bottom: rem(64);
    //== 768px ==//
    @media (max-width: $mb) {
      margin-bottom: rem(40);
    }
  }
}

// Ограничивающий контейнер ======================================================================================================================================================================================================================
.container {
  @if ($maxWidthContainer > 0) {
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
    margin: 0 auto;
  }
  @if ($containerPadding > 0) {
    padding: 0 rem(math.div($containerPadding, 2));
  }
}
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@import "base";
// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей небольших элементов
@import "elements/logo";
@import "elements/menu";
@import "elements/card";
@import "elements/infinite-line";
@import "elements/preview";
@import "elements/quote";
@import "elements/order-link";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";
@import "aside";

// Подключение крупных блоков
@import "blocks/hero";
@import "blocks/complement";
@import "blocks/double";
@import "blocks/covered";
@import "blocks/berlin";
@import "blocks/choice";
@import "blocks/product";
@import "blocks/feedback";
@import "blocks/cases";
@import "blocks/card-navigation";
@import "blocks/opotrunities";
@import "blocks/card-links";
@import "blocks/connect";
@import "blocks/agents";
@import "blocks/advantages";
@import "blocks/suppliers";
@import "blocks/franchise";
@import "blocks/faced-work";
@import "blocks/gallery";
@import "blocks/showrooms";
@import "blocks/team";
@import "blocks/clients";
@import "blocks/cart-preview";
@import "blocks/request";
@import "blocks/complete-modal";
@import "blocks/inner-cards";
@import "blocks/tripple";
@import "blocks/delivery";
@import "blocks/slider";
@import "blocks/double-description";
@import "blocks/vertical-cards";
@import "blocks/showrooms-countries";
@import "blocks/linked-slider";
@import "blocks/overflow-slider";
@import "blocks/price-list";
@import "blocks/strength";
@import "blocks/decision";
@import "blocks/sound";
@import "blocks/material";
@import "blocks/slide-image";
@import "blocks/fabric";
@import "blocks/company";
@import "blocks/configuraiton";
@import "blocks/components";

@import "media";
